body {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  font-family: "Anonymous Pro", monospace;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 4vh;
  padding: 0 50px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 55px;
  margin-bottom: 0;
}

img {
  width: 100%;
}

p {
  line-height: 1.1;
}

span {
  margin-left: 12ch;
}

a {
  border-bottom: 0.2em solid #000;
  color: inherit;
  margin-right: 0.3em;
  text-decoration: none;
}

a:hover {
  background-color: red;
}

.profile {
  margin: 0 20px;
  min-width: 250px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: large;
  margin: 0 20px;
  max-width: 400px;
  min-width: 250px;
}

@media screen and (min-width: 475px) {
  span {
    margin: 0;
  }

  br {
    display: none;
  }
}